{% extends 'Quiz/dependencies.html' %}

{% load static%}
{% block content %}

<div class="container jumbotron">
    <br>
    <h1>Enter your Username(Teacher/Student) and password:</h1>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username(Teacher/Student)"></p>
        <p><input type="password" name="password" placeholder="Password" ></p>
        <input class="btn btn-success" type="submit" value="Login">
        <br>
        <br>
        <p><h6>Do not have an account?</h6> <a href='{% url 'register' %}'>Register Here!</a></p>
    </form>
</div>
{% endblock %}
